    *{margin:0; padding:0;}
    body{background:#FFFFFF;  font:12px Arial, Helvetica, sans-serif; height:auto; BACKGROUND-ATTACHMENT: fixed; }
    #geral{
          width:1000px;
          margin:0 1px;
          border: 15px solid #45BDC7 ; /*ANTERIOR - #0099FF */
          background: #FFFFFF;
		  margin:0 auto;
		  height:auto;
		  border-radius:25px;
		  
		  

       }
    #topo{
	border-bottom:20px solid #626262;
       background: #FFFFFF;
	   border-radius:25px;
          
       }
	   
	   #topoespanol{
	border-bottom:20px solid  #626262;
       background: #FFFFFF;
          
       }
    	   
       
    #nav{
	float:left;
		   margin-top:5px;
		   
		   
	}
		
	
    #nav{
	   display:block;
	   background: #626262; /* ANTERIOR - #CCCCCC */
       height:170px;
       width:180px;
	   	   
       }
	   
	   	   
	  #menu{
	  background: #626262; /* ANTERIOR - #CCCCCC */
	   font-weight:bold;
	   text-decoration:none; /* ANTERIOR - underline */
	   list-style:none;
       width:180px;
	   margin:0 0;
	   height:600px;
	   margin-top:5px;
	   
	   
	   
	  
	   
	   }
       
    #menu li{
	float:none;
	

	   }
			  
    #menu li a{
		  display:block;
	      height:40px;
          padding:5px 0px 0 25px;
          line-height:25px;
          color:#F4F4F4; /* ANTERIOR - #000000 */
          text-decoration:none;
          font-size:12px;
          border-left:10px solid #626262; /* ANTERIOR - #CCCCCC */
		  border-right:10px solid #626262; /* ANTERIOR - #CCCCCC */
		  border-top:5px solid #FFFFFF; /* ANTERIOR - #FFFFFF */
	  	  text-indent:-15px;
		            
       }
	   
	   
	   
    #menu li a:hover{background: #939393; color: #00FFFF} /* ANTERIOR - #0099FF */
    #menu li.sbord a{
          border:0;
		  
       }
	
	#sub1{
	   list-style:none;
	   text-indent:15px;
	   
	}
	
	#sub2{
	   list-style:none;
	   text-indent:15px;
	   
	}
	
	#cont{
	 border-bottom:4px solid #626262; /* ANTERIOR - #CCCCCC */
	}
	
	<!--Altera cor dos links ativos e inativos-->
	
	a {
	color: #CC66FF ;
	}
	
	a:link {
		color: #0000FF;
	}
	
	a:active{
	color: #0000FF;
	}
			
	a:visited {
		color: #FF00FF;
	}
	

	
	
	<!--Sliceshow-->
	
	   
	   
	    #slideshow{

	   
	   background:#FFFFFF;
       height:250px;
       width:600px;
	   padding:0 0px 0px 0px;

	   }
       
			
			     
	
	#slide1 {
     
     margin-top:5px;
	 margin-left:18px;

	float:left;
	
			}
	
		#slide1 {            
			width:800px;
    		}
		
	#slide2 {
	margin-top:5px;
		float:left;
		margin-left:100px;
	    }
	   
	    #slide2 {
		width:800px;
            }
			
	#slide3 {
	margin-top:5px;
		float:left;
		margin-left:100px;
	    }
	    
		#slide3 {
		width:800px;			
			
	        }
	
	#slide4 {
	margin-top:5px;
		float:left;
	    }
	    
		#slide4 {
		width:800px;			
			
	        }
	
	
	#conteudo{
	float:right;


	
	}
	
    #conteudo{
		
       clear:both;
	   height:auto;
	   min-height:395px;
	   width:auto;
	   padding: 0 15px;
	   margin-bottom:10px;
	   margin-top:20px;
	   
	   	   
       }

    #carregando{
          width:40px;   height:40px;
		  position:absolute;
          top:-700px;
          left:200px;
          margin-top:-10px;
          margin-left:-10px;
       }

    #conteudo h2{
          font-size:30px;
		  text-align:center;
          padding:2px 20px;
		  position:relative;
		  left:0px; 
		  top:0px;
		  width:765px;
		  
		  	  
       }
    #conteudo p{padding:2px 20px; line-height:250%; width:765px; text-align:justify; position:relative; left:0px; top:0px;  text-indent:20px;}
    
	#conteudo h3{
		font-size:15px;
		padding:0 10px;
		text-align:center;
		position:relative; 
	    left:0px; 
		top:0px;
		text-decoration:underline;
		width:785px;

	
	}

    #conteudo h2.quemsomos,
    #conteudo p.quemsomos{color:#036}

    #conteudo h2.produtos,
    #conteudo p.produtos{color:#960}

    #conteudo h2.servicos,
    #conteudo p.servicos{color:#900}

    #conteudo h2.contato,
    #conteudo p.contato{color:#777}

    #linkunioeste a{
       color:#0000FF
	   
	   
       
	}
	
	#linkutfprmat a{
       position:relative; left:210px; bottom:1px; top:10px;
	   height:50px;
	   font-size:18px;
	   font-weight:bold;
	   font-style:normal;
	   color:#000000;
	   text-decoration:blink;
	   border-bottom: 2px solid #FFFFFF;
	   border-top: 2px solid #FFFFFF;
	   
       
	}
	
	#tabela1{
	margin-left:85px;
	
	
	}
	
	#tab1lin1{
	font-size:18px;

	
	}
	

		
    #rodape{
	   clear:both;
       height:25px;
	   border-top:20px solid #626262;
       background:#FFFFFF;
	   border-radius:25px;
	   
       
       }
    #rodape address{
	   width:1000px;
       margin-top:10px;
	   color:#000000; 
       text-align:center;
       padding:0 5px;
	   font-weight:bold;
	   font-size:9px;


	   
       }
	   
	   <!--ESTILOS DO FORMULÁRIO DE CONTATO-->



 form{
      margin:auto;
    }

 form{
       width:280px;
       margin:0 280px;
       background:#FFFFFF;
	   position:relative; left:0px; top:0px;
       }
    form fieldset{
       border:0;
       padding:0 15px 10px;
	   text-align:left;
	   
    }

    form fieldset legend{
       font-size:25px;
	   color:#000000;
       padding-bottom:25px;
	   padding-left:45px;
	   text-indent:60px
	   
       }


    form label{
       display:block;
       padding:3px 0;
       }

    form label span{
       display:block;
       color:#000000;
       font-size:13px;
       font-weight:bold;
    }
    form label input{
       color:#000000;
       padding:3px 0;
       width:300px;
	   background:#FFFFFF;
       }
    form label textarea{
       color:#000000;
	   width:300px;
	   height:200px;
	   background:#FFFFFF;
    }

    form input.btn{
       display:block;
       width:70px;
       padding:5px 0;
       margin:10px auto 0;
	   margin-left:-0px;
       border:0;
       background:#0099FF; 
       color:#000000;
	   cursor:pointer;
	   font-weight:bold;
	   
	   	   
       }



.formulario{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	padding-left:50px;
	padding-top:50px;
	width:550px;
	padding-bottom:50px;
}

.formulario-texto{
	width:120px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	text-align:right;
	padding-right:10px;
	margin-bottom:8px;
	font-size:12px;
}

.formulario-campo{
	width:400px; 
	float:left;
	margin-bottom:8px;
}

.textfield-nome{
	width:300px;
}

.textfield-ddd{
	width:20px;
}

.textfield-telefone{
	width:100px;
}

.btn-contato-enviar{
	width: 59px;
	height:18px;
	border:solid 0px;
	font-family:Calibri, Arial, sans-serif;
	color:#fff;
	font-weight:bold;
	margin-top:10px;
	background-image:url(../img/btn.jpg);
	font-size:12px;
}

.btn-contato-reset{
	margin-left:170px;
	width: 59px;
	height:18px;
	font-family:Calibri, Arial, sans-serif;
	color:#fff;
	margin-top:10px;
	font-weight:bold;
	background-image:url(../img/btn.jpg);
	border: solid 0px;
	font-size:12px;
}

.box-campo{
	width:400px; 
	float:left;
	padding-bottom:8px;
}

figure
{
    width:25%;
    float:left;
    margin:0px;
    text-align:center;
    padding:0px;
}
